In [1]:
# libraries
import os
import pandas as pd
import numpy as np
import dask
import dask.dataframe as dd

import ssl
# needed to request files when run from within docker container
ssl._create_default_https_context = ssl._create_unverified_context

Get data from github and prep files for analysis

In [2]:
# key for understanding which activity is being measured in a record
activity_key_url = r"https://raw.githubusercontent.com/gojandrooo/DSE-230/main/data/activity_key.txt"

activity_key = pd.read_csv(activity_key_url, header=None)
activity_key = activity_key[0].str.replace(" ", "").str.split("=", expand=True)
activity_key.columns = ['activity', 'code']
activity_key

     activity code
0     walking    A
1     jogging    B
2      stairs    C
3     sitting    D
4    standing    E
5      typing    F
6       teeth    G
7        soup    H
8       chips    I
9       pasta    J
10   drinking    K
11   sandwich    L
12    kicking    M
13      catch    O
14  dribbling    P
15    writing    Q
16   clapping    R
17    folding    S

In [14]:
# NOTE
# this still only grabs two spreadsheets, update for production

def collate_df(device, data_type):
    '''
    # returns a single dataframe from multiple spreadsheets hosted on github
    
    # device: ["phone", "watch"]
    
    # data_type: ["accel", "gyro"]
    '''
    
    base_url = r"https://raw.githubusercontent.com/gojandrooo/DSE-230/main/data"

    # TOGGLE FOR DEVICE
    device = device

    # TOGGLE FOR MEASUREMENT TYPE
    data_type = data_type
    
    # create list of all file names
    file_names = [f"/data_{user_id}_{data_type}_{device}.txt" for user_id in range(1600, 1651)]

    # create urls of all files
    loop_urls = [base_url + "/" + device + "/" + data_type + file_name for file_name in file_names]
    
    # merge data type in to one
    data_df = pd.concat([pd.read_csv(url, header=None) for url in loop_urls[:2]]) # for dev this is only the first two files
    data_df.columns = ['subject_id', 'code', 'timestamp', 'x', 'y', 'z']
    data_df['z'] = data_df['z'].str.replace(";", "").astype('float64')
    
    return data_df

In [15]:
collate_df?

Signature: collate_df(device, data_type)
Docstring:
# returns a single dataframe from multiple spreadsheets hosted on github

# device: ["phone", "watch"]

# data_type: ["accel", "gyro"]
File:      /tmp/ipykernel_430/3370089345.py
Type:      function

In [16]:
phone_accel = collate_df("phone", "accel")
phone_accel

       subject_id code        timestamp         x          y         z
0            1600    A  252207666810782 -0.364761   8.793503  1.055084
1            1600    A  252207717164786 -0.879730   9.768784  1.016998
2            1600    A  252207767518790  2.001495  11.109070  2.619156
3            1600    A  252207817872794  0.450623  12.651642  0.184555
4            1600    A  252207868226798 -2.164352  13.928436 -4.422485
...           ...  ...              ...       ...        ...       ...
81452        1601    S  258908699056416  2.015319   9.988011  0.746392
81453        1601    S  258908738947822  1.681927  10.074801  1.726219
81454        1601    S  258908778855321  1.148020   9.127296  1.492186
81455        1601    S  258908818435165  1.417966   9.126099  1.077989
81456        1601    S  258908858366259  1.383250  10.053851  2.373252

[145768 rows x 6 columns]

In [10]:
"{:,.0f}".format(phone_accel.shape[0])

'145,768'

In [ ]:
# # write out to excel (wireframe)
# file_name = 'file_name'
# writer = pd.ExcelWriter(f'{file_name}.xlsx', engine='xlsxwriter')
# df.to_excel(writer, sheet_name='sheet-name')
# writer.save()

In [ ]:
# # output the to .tsv/csv (wireframe)
# file_name = 'file_name'
# df = df#.astype(str) #preserve dtype with str if not already
# # should output as .tsv to retain data structure
# df.to_csv(fr'{file_name}.tsv', sep='\t', index=False)

In [42]:
# # serialize file (wireframe)
# file_name = 'file_name'
# df = df
# df.to_pickle(f"./{file_name}.pkl")

In [ ]:
# # read serialized file (wireframe)
# file_name = 'file_name'
# unpickled_df = pd.read_pickle(f"./{file_name}.pkl")

In [43]:
# # uncompress file and read in to dask (wireframe)
# file_name = 'file_name'
# unpickled_df = pd.read_pickle(f"./{file_name}.pkl")
# ddf = dd.from_pandas(unpickled_df, npartitions=8)

In [48]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'data',
 'DSE230 - Project Proposal - Team 001 - 2022-04-29.pdf',
 'DSE230 - Team 001 - 01 - Data Prep.ipynb',
 'DSE230 - Team 001 - 02 - Data Modeling.ipynb',
 'README.md',
 'WISDM-dataset-description.pdf']

In [49]:
# write out file to csv
# needed so we can copy from local into hadoop
file_name = 'data_phone_accel'
df = phone_accel
# should output as .tsv to retain data structure
df.to_csv(fr'./prepped-data/{file_name}.csv')

In [50]:
%%bash
dir

DSE230\ -\ Project\ Proposal\ -\ Team\ 001\ -\ 2022-04-29.pdf
DSE230\ -\ Team\ 001\ -\ 01\ -\ Data\ Prep.ipynb
DSE230\ -\ Team\ 001\ -\ 02\ -\ Data\ Modeling.ipynb
README.md
WISDM-dataset-description.pdf
data
prepped-data

**create hadoop directory**

In [51]:
%%bash
hadoop fs -mkdir /hdfs-data

**copy from local into hadoop**

In [52]:
%%bash
hadoop fs -copyFromLocal prepped-data/data_phone_accel.csv /hdfs-data

**make sure file is in hadoop**

In [53]:
%%bash
hadoop fs -ls /hdfs-data

Found 1 items
-rw-r--r--   1 root supergroup    8564241 2022-05-16 06:18 /hdfs-data/data_phone_accel.csv